In [9]:
import pandas as pd
df=pd.read_csv("C:\\Users\\arooj\\OneDrive\\Documents\\weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny

In [10]:
df.shape

(6, 4)

rows,columns = df.shape

In [12]:
rows, columns = df.shape

In [13]:
rows

6

In [23]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny

In [24]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [25]:
df.event

0     Rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [26]:
df.event[4]

'rain'

In [27]:
df.event[2:4]

2    snow
3    snow
Name: event, dtype: object

In [28]:
type(df['event'])

pandas.core.series.Series

In [30]:
df.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4   rain

In [32]:
df[['event','day','temperature']]

   event         day  temperature
0   Rain  01-01-2017           32
1  sunny  01-02-2017           35
2   snow  01-03-2017           28
3   snow  01-04-2017           24
4   rain  01-05-2017           32
5  sunny  01-06-2017           32

In [36]:
df['temperature'].std()

3.8858718455450894

In [41]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [40]:
df['temperature'].max()

35

In [42]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny

In [54]:
df[['day','temperature','windspeed']][df.temperature==df.temperature.max()]

          day  temperature  windspeed
1  01-02-2017           35          7

In [55]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  sunny
2  01-03-2017           28          2   snow
3  01-04-2017           24          7   snow
4  01-05-2017           32          4   rain
5  01-06-2017           32          2  sunny

In [56]:
df.index

RangeIndex(start=0, stop=6, step=1)

NameError: name 'df' is not defined

In [68]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  sunny
01-03-2017           28          2   snow
01-04-2017           24          7   snow
01-05-2017           32          4   rain
01-06-2017           32          2  sunny

In [69]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  sunny
01-03-2017           28          2   snow
01-04-2017           24          7   snow
01-05-2017           32          4   rain
01-06-2017           32          2  sunny