In [1]:
import pandas as pd

def convert_people_cell(cell):
    if cell=="n.a.":
        return 'sam walton'
    return cell

def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell

df=pd.read_excel("C:/Users/arooj/Downloads/stock.xlsx",converters ={
    'people': convert_people_cell,
    'eps': convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [10]:
df.to_excel("new1.xlsx", sheet_name="stock")
#write the file stock in a new excel file named "new1"

In [14]:
df_stock = pd.DataFrame({
    'tickers':['GOOGL','WMT','MSFT'],
    'price':[845,56,64],
    'pe':[30,37,14,26,30.97],
    'eps':[27.82,4.61,2.12]
})
df_weather = pd.DataFrame({
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperture': [32,35,28],
    'event':['Rain','Sunny','Snow']
})

ValueError: All arrays must be of the same length

In [ ]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
df_stocks.to_excel(writer, sheet_name="stock")
df_stocks.to_excel(writer, sheet_name="Weather")